table .list-table th { 
    font-size: 15px;
    height: 43px;
} 

.table-input {
    max-width: 70px; height: 30px; display: inline-block;
}

.user-mgt-custom.table td.tabledata {
    font-size: 12px;
    text-align: left;
    padding-left: 30px;
    width: 80%;
}
  
.user-mgt-custom.table th.tablehead {
    text-align: center;
    padding-left: 30px;
}

.user-mgt-custom.table td {  
    padding: 6px;
}

.user-mgt-custom .form-check {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 0;
    padding-left: 0;
}

.user-mgt-custom .form-check .form-check-label {
    min-height: 0px;
    display: inline;
    margin-left: 0rem;
    font-size: 0.775rem;
    bottom: 0;
    top: 6px;
    line-height: 0;
}

.user-mgt-custom .form-check .form-check-input, .form-check-input[type=checkbox] {
    float: left;
    margin-left: -1.5em;
    font-size: 15px;
}

.errors {
    font-size: 13px;
    color: #ee5151;
    min-height: 15px;
}

.sub-button {
    margin-left: 40%;
}

.absub-button {
    margin-left: 38%;
    margin-top: -31px; 
    position:absolute;
}

@media (max-width: 1200px) and (min-width: 991)  {
    .sub-button {
        margin-left: 35%;
    }
    
    .absub-button {
        margin-left: 35%;
        margin-top: -31px; 
        position:absolute;
    }
}

@media (max-width: 990px) and (min-width: 768px)  {
    .sub-button {
        margin-left: 30%;
    }
    
    .absub-button {
        margin-left: 37%;
        margin-top: -31px; 
        position:absolute;
    }
}

@media (max-width: 767px) and (min-width: 600px)  {
    .sub-button {
        margin-left: 28%;
    }
    
    .absub-button {
        margin-left: 37%;
        margin-top: -31px; 
        position:absolute;
    }
}

@media (max-width: 600px) and (min-width: 500px)  {
    .sub-button {
        margin-left: 25%;
    }
    
    .absub-button {
        margin-left: 40%;
        margin-top: -31px; 
        position:absolute;
    }
}


@media (max-width: 500px) and (min-width: 320px)  {
    .sub-button {
        margin-left: 22%;
    }
    
    .absub-button {
        margin-left: 42%;
        margin-top: -31px; 
        position:absolute;
    }
}

@media (max-width: 320px){
    .sub-button {
        margin-left: 15%;
    }
    
    .absub-button {
        margin-left: 45%;
        margin-top: -31px; 
        position:absolute;
    }
}
/* .sub-button {
    marginLeft: 41%; 
    marginTop: -32px; 
    position: absolute;
} */