
body {
    font-family: "Roboto", sans-serif;
    background-color: #e3e7fd;
	background: url("../images/bg.png") no-repeat 0 0;
	
	background-size: cover;

}

.content {
    padding: 7rem 0;
}
/* Bordered form */
form {
  /* border: 1px solid #ececec; */
  background: #fff;
  padding: 20px 0px 0px 0px;
  /* box-shadow: 0px 2px 3px 3px #d6d1d1; */
  /* border-radius: 11px; */
  box-shadow: 0px 0px 11px #d6d8de;
	font-size: 14px}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px 12px 20px;
  margin: 5px 0 28px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
	border-radius: 2px;
}

/* Set a style for all buttons */
button {
  background-color: #023f80;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
   background-color: #ed8d1c;
}

h2 {color: #ed8d1c}
.bookdemo{text-align: center;padding: 20px;/* background-color: #fd9903; */margin-top: 30px;color: #fff;border-top: solid 1px #fbf4f4;}
.bookdemo a{color: #3c3737;}


/* The "Forgot password" text */
span.psw {
  float: right;
  /* padding-top: 16px; */
}

@media (min-width: 1200px){
.container {
    max-width: 1140px;
}}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
 
}