th label {
    display: block !important;
}

th label {
    margin-bottom: 0 !important;
}

th .text-filter {
    margin-top: 10px !important;
}

th .form-control {
    height: 1.8em !important;
}

.react-bootstrap-table .table thead th {
    vertical-align : top !important;
}