.table-striped{
    border-collapse: separate;
    border-spacing: 0 0.7em;
    width: 99%;
    margin-left: 2px;
} 

.table-striped>thead>tr {
    box-shadow: rgb(214, 213, 213) 0px 0px 4px 2px;
    border-radius: 3px;
    background-color: #336666;
    color: #fff;
    border: 0;
}  

.table-striped>thead>tr>th {
    border: 0;
}

.table-striped>tbody>tr>td {
    border: 0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    border-radius: 5px;
    --bs-table-accent-bg: rgba(0, 0, 0, 0) !important;
    box-shadow: rgb(214, 213, 213) 0px 0px 4px 1px;
    background-color: #fff;
} 

.table-striped>tbody>tr:nth-of-type(even) {
    border-radius: 5px;
    --bs-table-accent-bg: rgba(0, 0, 0, 0) !important;
    box-shadow: rgb(214, 213, 213) 0px 0px 4px 1px;
    background-color: #fff;
} 

.table-striped>tbody>tr:nth-of-type(even):hover {
    --bs-table-accent-bg: rgba(0, 0, 0, 0) !important;
}  

.addbooking {
    border : 1px solid #c2c2c2;
    padding: 20px 10px;
    border-bottom: 0px;
    padding-bottom: 0px;
}

.setbookingstyle {
    border-top: 0px;
    padding-top: 0px;
    padding-bottom: 20px; 
    border-bottom : 1px solid #c2c2c2;
}

.addbooking .accourdian-style,
.addbooking .accourdian-style .accordion-header .accordion-button{
    background: transparent;
    border: none;
}

.addbooking .accourdian-style .accordion-header .accordion-button{
    padding: 0 0 10px 0;
    color: #222;
    /* border-bottom: 1px solid #c2c2c2; */
}

.addbooking .accourdian-style .accordion-body{
    padding: 20px 0 0 0;
}

.addbooking .borders {
    border-top: 1px solid #c2c2c2;
    margin: 15px 0;
}