.infowindowcont {
    text-align: left;
}

.infowindowcont h4{
    margin: 0;
}

.infowindowcont p{
    margin: 0;
    margin-top: 5px;
}

.infowindowcont p.cl{
    color: rgb(255, 11, 11);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.dropdown .dropdown-toggle:after { 
    content: ""; 
}

.sharingform .modal-dialog {
    max-width: 500px;
    margin-top: 100px;
}

.dropdown-toggle::after {
    display: none;
}